body {
  font-size: 100%; }

p {
  font-size: 0.85em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

body {
  background-color: #53295c; }

#logo {
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
  background-color: white;
  height: 120px; }

#menu {
  width: 100%;
  background-color: white;
  float: left;
  text-align: left;
  vertical-align: middle; }
  #menu h1, #menu h2, #menu h3, #menu h4 {
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    margin-bottom: 0.25em; }
  #menu p, #menu a, #menu ul, #menu ol, #menu li {
    font-family: Arial, Helvetica, Sans-Serif;
    line-height: 1.15; }
  #menu li {
    background-color: #e75c01;
    position: relative;
    margin-right: 2px; }
    #menu li:hover {
      background-color: #fe6704; }
    #menu li.selected {
      font-weight: normal;
      background-color: #b44801; }
      #menu li.selected:hover {
        background-color: #fe6704; }
    #menu li.first {
      margin-left: 0px; }
    #menu li.last {
      width: 125px;
      margin-right: 0px; }
  #menu a {
    width: 123px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    color: white;
    font-size: 0.75em;
    font-weight: bold; }

#body_content_title {
  padding-top: 150px; }
  #body_content_title h1 {
    font-weight: normal;
    font-size: 1.6em; }

#body_content {
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  -o-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  background: #fcf4dd;
  min-height: 600px;
  padding: 20px 20px; }
  #body_content h1, #body_content h2, #body_content h3, #body_content h4 {
    font-family: Tahoma, Sans-Serif;
    font-weight: bold;
    margin-bottom: 0.25em; }
  #body_content p, #body_content a, #body_content ul, #body_content ol, #body_content li {
    font-family: Tahoma, Sans-Serif;
    line-height: 1.15; }
