<div id="footer">
  <div class="image">
    <%= image_tag("flourish3.png", :border => 0, :class => "flourish") %>
  </div>
  <div id="copyright">
    <p>
      <%= t('.copyright', :year => Time.now.year,
                          :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
    </p>
  </div>
</div>