// VARIABLES
  // Colors
    $orange: #e75c01;
    $dkorange: #843000;
    $beige: #FCFCD0;
    $purple: #8603a1;
    $dkpurple: #53295c;
    $yellow: #F5CF00;
    $dkyellow: #847000;
    $black: #000000;
    $white: #FFFFFF;
// TYPOGRAPHY
// Font shortcuts
    $font_header: "Helvetica Neue", Arial, Helvetica, sans-serif;
    $font_body: "Georgia", Georgia, Serif;
    $font_headings: "Tahoma", Tahoma, Helvetica, Sans-Serif;
// Font & Size for each section
@mixin fonts($fontbody,$fontheadings) {
  h1, h2, h3, h4 {
    font: {
      family: $fontheadings;
      weight: normal;
    }
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
  p, a, ul, ol, li {
    font: {
      family: $fontbody;
    }
    line-height: 1.2;
  }
}
// Default Sizes
  body {
    font-size: 100%;
  }
  h1 {
    font-size: 2em;
    color: $orange;
    text-shadow: 1px 1px 1px lighten($black,50%);
  }
  h2 {
    font-size: 1.6em;
    color: $yellow;
    text-shadow: 1px 1px 1px lighten($black,50%);
  }
  h3 {
    font-size: 1.2em;
    color: $purple;
    text-shadow: 1px 1px 1px lighten($black,50%);
  }
  h4 {
    font-size: 1em;
  }
@mixin box_shadow($x, $y, $b, $color) {
  -moz-box-shadow:$x $y $b $color;
  -webkit-box-shadow:$x $y $b $color;
  -o-box-shadow:$x $y $b $color;
  box-shadow:$x $y $b $color;
}

// CONTENT
body {
  background-color: $dkpurple;
}
#page_container {
  background-color: $white;
  margin: 0px auto;
  width: 1000px;
  height: 100%;
  @include box_shadow(0px, 0px, 10px, $black);  
}
#body_content {
  position: relative;
}
#body_content_left {
  //width: 100%;
  table {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
    td {
      padding: 1em;
    }
  }
}
#body_content_right {
  //position: absolute;
  float: right;
  //top: 0px;
  width: 300px;
}
#likebutton {
  position:absolute;
  right:15px;
  top:15px;
}
#logo {
  position: relative;
  width: 100%;
  height: 120px;
  .topimage {
      position: absolute;
      top: -0px;
      left: 0px;
      z-index: 100;
    .topflourish {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 100;
    }
  }
  .headerimage {
    text-align: left;
    .header {
    }
  }
}
#menu {
  //@include box_shadow(0px, 0px, 10px, $black);
}
#body_content {
  #body_content_title {
    margin-top: 0em;
    margin-bottom: 0.4em;
    font: {
      weight: normal;
      size: 2em;
    }
  }
  @include fonts($font_body,$font_body);
  a{
    color: darken($purple,10%);
    text-decoration: underline;
    &:hover, &:active, &:focus {
      color: lighten($purple,10%);
      text-decoration: underline;
    }
  }
  z-index: 0;
  min-height: 400px;
  padding: 2em 2em;
  p {
    font-size: 0.9em;
    padding: 0.2em 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  ul, ol {
    padding: 0.3em 0.3em;
  }
  li {
    padding: 0em 0.5em;
    font-size: 0.9em;
    list-style: disc inside none;
  }
}
#footer {
  height: 100%;
  z-index: -1000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  .image {
    z-index:999;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    text-align: right;
    //float: right;
    width: 1000px;
    max-height: 80px;
    //background-color: $white;
    //background: url('../images/flourish3.png') no-repeat;
    .flourish {
      bottom: 0px;
      position: relative;
    }
    .cepac {
      position: absolute;
      left: 15px;
      bottom: 10px;
    }
  }
  #copyright {
    position: relative;
    padding: 0.75em 0em;
    background-color: $orange;
    color: $white;
    text-align: center;
    font-size: 75%;
    @include fonts($font_header,$font_header);
    p { 
      font-size: 1em;
      }
  }
}
