// VARIABLES
  // Colors
    $orange: #e75c01;
    $beige: #fcf4dd;
    $dkpurple: #53295c;
    $black: #000000;
    $white: #FFFFFF;
// TYPOGRAPHY
    $font_header: Arial, Helvetica, Sans-Serif;
    $font_body: Tahoma, Sans-Serif;
@mixin fonts($font) {
  h1, h2, h3, h4 {
    font: {
      family: $font;
      weight: bold;
    }
    margin-bottom: 0.25em;
  }
  p, a, ul, ol, li {
    font: {
      family: $font;
    }
    line-height: 1.15;
  }
}
// Sizes
  body {
    font-size: 100%;
  }
  p {
    font-size: 0.85em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
@mixin box_shadow($x, $y, $b, $color) {
  -moz-box-shadow:$x $y $b $color;
  -webkit-box-shadow:$x $y $b $color;
  -o-box-shadow:$x $y $b $color;
  box-shadow:$x $y $b $color;
}

// CONTENT
body {
  background-color: $dkpurple;
}
#page {}
#logo {
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
  background-color: $white;
  height: 120px;
}
#menu {
  @include fonts($font_header);
  width: 100%;
  background-color: $white;
  float: left;
//  left: -50%;
  text-align: left;
  vertical-align: middle;
  ul {
//    position:relative;
//    left: 50%;
//    width: 100%;
  }
//  @include box_shadow(0px, 0px, 10px, lighten($black,20%));  
  li {
    background-color: $orange;
    &:hover {
      background-color: lighten($orange,5%);
    }
    position: relative;
    margin-right: 2px;
    &.selected {
      font-weight:normal;
      background-color: darken($orange,10%);
      &:hover {background-color: lighten($orange,5%);}
    }
    &.first {
      margin-left: 0px;
    }
    &.last {
      width: 125px;
      margin-right: 0px;
    }    
  }
  a {
    width: 123px;    
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    color: $white;
    font-size: 0.75em;
    font-weight: bold;
  }
}
#body_content_title {
  padding-top: 150px;
  h1 {
    font: {
      weight: normal;
      size: 1.6em;
    }
  }
}
#body_content {
  @include fonts($font_body);
  @include box_shadow(0px, 0px, 5px, $black);
  background: $beige;
  min-height: 600px;
  padding: 20px 20px;
}